body {
 margin: 100px;
}

.grid-container {
 display: grid;
 grid-template-columns: 50vh 50vw;  
}

.flex-container {
 max-width: auto;
 max-height: max-content;  
 flex-direction: row; 
 display: flex;
 flex-wrap: wrap;
 row-gap: 100px;
}

.image1 { 
 display: inline;
 width: 450px;
}

.button-image1 {
 border: none;
 background: white;
 padding-left: 10px;
}

.image2 {
 display: inline;
 width: 450px;
} 

.image-text { 
 position: absolute;
 margin-top: 325px;
 margin-left: 35px;
 color: rgb(53, 49, 49);
 font-size: xx-small;
}